//  문자 또는 활판적 기호를 중심으로 한 2차원적 표현을 가리킨다.
//  활판으로 하는 인쇄술을 가리키는 용어이기도 하다.
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    /* 
      animation-delay: 3s; 3초 후 실행
      animation-iteration-count: 3; 3번 실행
    
      animation-timing-function: ease-in;  
      CSS 속성에 애니메이션이 각주기에서 어떻게 진행할지 여부를 설정합니다.
      */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent; //transparent == 투명이라는 뜻
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  &:hover {
    transform: skew(15deg, 2deg);
  }
}
