.u-center-text {
  text-align: center;
  /*자식(inline-block)요소를 텍스트로 취급*/
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
